@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EEF2F8;
  --celtic-blue: #2770E1;
  --payne-gray: #616E80;
  --payne-gray-darker: #536377;
  --gunmetal: #2C3540;
  --french-gray: #B8C1D0;
  --alice-blue: #DAE2EE;
  --jordy-blue: #9EBCED;
}

body {
  background: var(--background);
}
